.box{
    color: rgb(255, 255, 255);
    border:2px solid black;
    width: 500px;
    padding: 10px 20px;
    margin: 50px 150px;
    background-color: rgb(70, 70, 70);
    border-radius: 15px;
    text-align: center;
    font-size: 25px;
}
body{
    background-image: url(images/l5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.btn{
    border: none;
    border-radius: 10px;
    padding: 8px 16px;
    margin: 5px 10px;
    color: whitesmoke;
    background-color: black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;

}